<div class="main container">
  <h2>Log in</h2>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :content, 'メールアドレス', class: "control-label" %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.label :password, 'パスワード', class: "control-label"%>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <br>
  <div class="form-group"><%= link_to "アカウント登録はこちらから", new_user_path %></div>
  <% end %>
</div>
