<div class="main container">
  <h2>Log in</h2>
    <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="form-group">
    <%= f.label :email, class: "sr-only" %>
    <%= f.email_field :email, class: "form-control" %>
    <%= f.label :password, class: "sr-only"%>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <div class="submit">
    <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  </div>
  <% end %>
</div>
