<br>
<h3>この内容で投稿しますか？</h3><br>
  <div class="contents">
    <%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
    <%= image_tag @feed.image.url if @feed.image?%>
        <div class="form-group">
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image_cache %>
          <%= form.label :content, 'コメント:', class: "control-label" %>
          <p><%= @feed.content %></p>
        </div>
      <div class="sign_up_btn">
        <%= form.submit '投稿', class: "btn btn-outline-info" %>
        <% end %>
      </div>
      <%= form_with(model:@feed, url:new_feed_path, local:true, method:"get") do |form| %>
        <%= form.hidden_field :image_cache %>
        <%= form.hidden_field :content %>
        <%= form.submit "戻る", name: "back" %>
      <% end %>
    </div>
