<br>
<h3>この内容で投稿しますか？</h3><br>
  <div class="container">
    <div class="main">
    <%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
        <div class="form-group">
          <%= form.hidden_field :content %>
          <%= form.hidden_field :image_cache %>
          <%= form.label :content, 'コメント:', class: "control-label" %>
          <p><%= @feed.content %></p>
        </div>
        <div class="form-group">
          <%= form.label :image, '写真:', class: "control-label" %>
          <br>
          <%= image_tag @feed.image.url if @feed.image?%>
        </div>
      <div class="sign_up_btn">
        <%= form.submit '投稿', class: "btn btn-outline-info" %>
      </div>
      <div class="sign_up_btn">
        <%= link_to '戻る', :back %>
        <% end %>
      </div>
      </div>
    </div>
